<html>
    <body ng-app = 'scrumboard.demo'>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"
        <script>
            (function(){
                'user strict';
                angular.module('scrumboard.demo',[])
                .controller('ScrumboardController', ['$scope', ScrumboardController]);

                function ScrumboardController(){
                    $scope.Person = {
                        name: 'Joe',
                        age: 35
                    }
                }

            }());
        </script>
    </body>
</html>